<div id="<%= dom_id letterbox %>">
  <h4>
    <strong>Title:</strong>
    <%= link_to letterbox.title, letterbox %>
  </h4>
  <%= link_to "番組：#{letterbox.program.title}", letterbox.program %>
  <p>
    <strong>Body:</strong><br>
    <%= letterbox.body %>
  </p>
  <%= link_to 'このBOXに投稿する', new_letterbox_letter_path(letterbox), onclick: "window.open(this.href,'New letter', 'height=400, width=800');return false;" %>
</div>
<br>
