<div id="<%= dom_id program %>" class="<%= program_card_class %>">
  <div class="card glass-morphism h-100 border-0 hover-lift d-flex flex-column">
    <%= link_to program, class: "text-decoration-none", data: { turbo: false } do %>
      <div class="card-body p-4 d-flex flex-column">
        <div class="d-flex align-items-center mb-3">
          <div class="program-icon me-3">
            <i class="bi bi-broadcast-pin fs-4 text-gradient"></i>
          </div>
          <h4 class="card-title mb-0 modern-program-title scroll">
            <span class="text-gradient fw-bold title-text" id="title-span"><%= program.title %></span>
          </h4>
        </div>

        <p class="text-gradient mb-0"><%= "総お便り数：#{program.letters.count} 件"%></p>

        <div class="my-4 text-truncate-container">
          <%= simple_format(program.body, class: "card-text mb-0") %>
        </div>
      </div>
    <% end %>

    <div class="card-footer bg-transparent border-0 mt-auto m-3">
      <div class="program-meta">
        <% if action_name == "show" %>
          <% if program.user == current_user || current_user&.admin? %>
            <%= link_to new_program_invitation_path(program), 
                class: "btn btn-outline-light btn-sm rounded-pill hover-lift mb-3",
                data: { turbo: false }  do %>
              <i class="bi bi-person-plus me-2"></i>
              ユーザーを招待する
            <% end %>
          <% end %>
        <% end %>
        
        <div class="d-flex align-items-center justify-content-between text-white-50">
          <%= link_to program.user, 
            class: "text-decoration-none d-inline-flex align-items-center",
            data: { turbo: false }  do %>
            <i class="bi bi-person-circle me-2"></i>
            <span class="top-nav-link nav-hover"><%= program.user.name %></span>
          <% end %>
          
          <div class="d-flex align-items-center">
            <span>
              <i class="bi bi-clock me-2"></i>
              <%= program.created_at.strftime("%Y-%m-%d")%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.scroll').forEach(elem => {
    // const span = document.getElementById('title-span');
    const span = elem.querySelector('span');
    if (span.scrollWidth > elem.clientWidth) {
      span.classList.add('title-scroll');
    }
  });
</script>