<div id="<%= dom_id program %>" class="col-md-6 col-lg-4">
  <div class="card glass-morphism h-100 border-0 hover-lift">
    <div class="card-body p-4">
      <div class="d-flex align-items-center mb-3">
        <i class="bi bi-music-note-beamed fs-4 me-2 text-gradient"></i>
        <h4 class="card-title mb-0">
          <%= link_to program.title, program, 
              class: "text-decoration-none text-gradient fw-bold" %>
        </h4>
      </div>
      
      <p class="card-text">
        <%= program.body %>
      </p>


      <%= link_to "host：#{program.user.name}", program.user %>
      <%= link_to "招待リンク作成", new_program_invitation_path(program) %>

      <div class="mt-3 text-white-50 small">
        <i class="bi bi-clock me-2"></i>
        <%= program.created_at.strftime("%Y-%m-%d") %>
      </div>
    </div>
  </div>
</div>