<p style="color: green"><%= notice %></p>

<h1>Title:<%= @program.title %></h1>
<br>
<h2>Body:<%= @program.body %></h2>
<br>
<%= link_to "お便り箱 新規作成 =>" , new_program_letterbox_path(@program) %>
<br>
<br>
<div>
  <%= render @program.letterboxes %>
  <%= link_to "Edit this program", edit_program_path(@program) %> |
  <%= link_to "Back to programs", programs_path %>
  <%= button_to "Destroy this program", @program, method: :delete %>
</div>
