<p style="color: green"><%= notice %></p>

<h1><%= @user.name %></h1>
<br>
<h3>制作に参加している番組</h3>
<br>
<%= render @user.joined_programs %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <% if current_user %>
    <% if @user == current_user || current_user.admin %>
      <%= button_to "Destroy this user", @user, method: :delete %>
    <% end %>
  <% end %>

  <% if current_user %>
    <% if current_user.admin %>
      <%= "current_user: #{current_user.name}" %>
    <% end %>
  <% end %>
</div>
