<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <% if @user == current_user || current_user.admin %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>

  <% if current_user.admin && Rails.env.production? %>
    <%= "current_user: #{current_user.name}" %>

    <%# Render無料枠でrails cが使えないので一時的な記述。admninユーザーが本番で作成できたら削除すること！ %>
    <%= link_to 'admin_user権限付与', set_admin_path, method: :get, data: { confirm: '本当に管理者権限を与えますか？' } %>
  <% end %>
</div>
