<div id="<%= dom_id letter %>" class="glass-morphism p-4 mb-4 letter-card">
  <div class="letter-content">
    <div class="d-flex align-items-center mb-3">
      <i class="bi bi-person-circle fs-4 me-3 text-gradient"></i>
      <h2 class="h5 mb-0 text-gradient"><%= letter.radio_name %></h2>
      <% if letter.letterbox&.letters_visible %>
        <% if producer?(current_user, letter.program) || current_user&.admin? %>
          <div class="col align-self-end gap-3">
            <%= link_to "https://twitter.com/share?url=#{letter_url(letter)}&text=お便りの続きはMusic Hourで！",
                target: '_blank',
                class: "share-link float-end me-2",
                data: { toggle: "tooltip", placement: "bottom", turbo_prefetch: false, turbo: false },
                title: "Xで回答する" do %>
              <i class="bi bi-twitter-x"></i>
              <span>で回答する</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="letter-body p-3 rounded">
      <p class="mb-0 card-text"><%= markdown(letter.body) %></p>
    </div>

    <div class="d-flex justify-content-end align-items-center mt-3 text-white-50">
      <div class="d-flex align-items-center gap-3">
        <span class="text-gradient-subtle">To：</span>
        <% if action_name == "show" %>
          <%= link_to letter.program&.title, letter.program, class: "top-nav-link nav-hover", data: { turbo: false }  %>
        <% end %>
        <span class="text-gradient text-gradient-subtle nav-hover m-0"><%= letter.letterbox&.title %></span>
      </div>
    </div>

    <%= render 'letters/rating', letter: letter %>

    <% if action_name == "index" %>
      <div class="d-flex justify-content-end align-items-center mt-3">
        <div class="d-flex align-items-center gap-3 text-white-50">
          <%= link_to letter_path(letter),
            class: "btn btn-outline-light hover-lift", data: { turbo: false } do %>
            <i class="bi bi-chat-right-text"></i>
            公開用ページ
          <% end %>
          <%= render "shared/publish_buttons", object: letter, program: letter.program %>
          <%= render "read_buttons", letter: letter %>
        </div>
      </div>
    <% end %>


    <div class="d-flex align-items-center justify-content-between text-white-50 mt-3">
      <% if action_name == "index" %>
        <span>
          user name：
          <%= link_to letter.user, 
            class: "text-decoration-none d-inline-flex align-items-center",
            data: { turbo: false }  do %>
            <i class="bi bi-person-circle me-2"></i>
            <span class="top-nav-link nav-hover"><%= letter.user&.name %></span>
          <% end %>
        </span>
      <% end %>
      <div class="d-flex align-items-center gap-3">
        <span>
          <i class="bi bi-clock me-2"></i>
          <%= letter.created_at.strftime("%Y-%m-%d")%>
        </span>
      </div>
    </div>
  </div>
</div>